.music-player-container {
    width: 100%;
    background-color: black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
  
  .music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .music-info {
    display: flex;
    align-items: center;
  }
  
  .music-cover {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .music-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .music-details {
    display: flex;
    flex-direction: column;
  }
  
  .music-title {
    margin: 0;
    font-size: 16px;
    color: #fff;
  }
  
  .music-artist {
    margin: 0;
    font-size: 14px;
    color: #999;
  }
  
  .music-controls .control-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px; /* Ajusta el valor según el ancho deseado */
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 85px;
  }  
  
  .control-button:last-child {
    margin-right: 0;
  }
  
  .music-volume {
    display: flex;
    align-items: center;
    width: 100px;
    height: 5px;
    background-color: #555;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .volume-icon {
    width: 16px;
    height: 16px;
    margin-left: -25px;
  }
  
  .volume-slider {
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 10px;
    border-radius: 5px;
  }
  
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  
  .volume-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  
  .music-controls-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .music-progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    margin: 10px 0;
    background-color: #333;
  }
  
  .progress-bar {
    width: 500px;
    height: 5px;
    border-radius: 5px;
    background-color: #555;
    position: relative;
    margin: 0 auto;
  }

  .progress-time {
    margin-right: 30%;
  }
  
  .progress-bar .progress {
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
