body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f8931f;
  }
  
  .subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f8931f;
  }
  
  .paragraph {
    margin-bottom: 10px;
    color: white;
  }
  
  .contact-info {
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .contact-info li {
    margin-bottom: 10px;
    color: white;
  }
  
  .contact-info strong {
    font-weight: bold;
  }
  
  .resources {
    margin-bottom: 20px;
  }
  
  .resources li {
    margin-bottom: 10px;
    color: white;
  }
  
  .resources strong {
    font-weight: bold;
  }
  .images {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
  }