.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
  
.page-item {
    margin: 0 5px;
    text-decoration: none;
}
  
.page-link {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
}
  
.page-link:hover {
    background-color: #333;
    color: #fff;
}
  
  