.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-title {
  color: #F8931F;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -40px;
  margin-top: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  width: 25%;
  max-width: 400px;
  padding-right: 70px;
}

.register-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.register-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #4d4d4d;
}

.register-input {
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #CCC;
  border-radius: 0.5rem;
  background-color: #767676;
  width: 100%;
  color: #fff;
  transition: border-color 0.3s ease;
}

.register-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #F8931F;
  color: #FFF;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.register-button:hover {
  background-color: #DB7600;
}

.register-login-text {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.register-login-text a {
  color: #F8931F;
  text-decoration: none;
}

.register-login-text a:hover {
  color: #fff;
  text-decoration: underline;
}
